.Navbar{
     display: flex;
     justify-content: left;
     margin-right: 3vw;
}
.Nav__Button {
     height: 60px;
     border: none;
     margin-left: 0.6vw;
     padding-right: 4vw;
     font-size: large;
     font-size: 2.0rem;
     padding: 1.5vh;
     transition: 300ms;
     background-color: transparent;
     color: #C3073f;
}

.Nav__Button:hover {
     border-bottom: 3px solid #C3073f;
     font-size: 2.2rem;
     transition-property: all;
     top: 3px;
     
}
@media only screen and (max-width: 600px) {
     .Navbar{
          display: flex;
          width: 100vw;
          justify-content: space-around;
          margin-right: 3vw;
     }
     .Nav__Button {
          height: 60px;
          border: none;
          margin-left: 0.6vw;
          font-size: large;
          font-size: 1.7rem;
          padding: 1.5vh;
          background-color: transparent;
          color: #C3073f;
     }
   }


