.Footer{
     width: calc(100vw-3px);
     background-color: rgba(128, 128, 128, 0.397);
     margin-top: 40px;
     display: flex;
     justify-content:space-between
}
.Socials__Message{
     font-size: 70px;
     position: relative;
     padding-top: 0 ;
     padding-bottom: 0;
     display:inline-block;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     color: white;
     padding-left: 40px;
     opacity: 1;
     width: auto;
     align-items: center;
}

.Footer > div > div{
     padding-top: 15px;
     padding-bottom: 10px;
     padding-right: 60px;
     display:inline-block;
     opacity: 1;
     width: auto;
}