.Footer {
     width: calc(100vw-3px);
     background-color: rgba(128, 128, 128, 0.397);
     display: flex;
     justify-content: right;
     position: fixed;
     bottom: 0;
     right: 0;
     width: 100%;

}

.Socials__Button {
     padding-top: 15px;
     padding-right: 60px;
     display: inline-block;
     opacity: 1;
     width: auto;
}

.Socials__Image {
     height: 32px;
     width: 32px;
     padding: 0;
     margin: 0;
}

@media only screen and (max-width: 600px) {
     .Footer {
          width: 100%;
          justify-content: space-evenly;
          margin: 0;
          padding: 0;
     }

     .Socials__Container{
          width: 100%;
     }
     .Socials__Button {
          padding-left: 30px;
          padding-right: 30px;
     }
}